.cardTitle {
  color: black;
  font-size: 16px;
  text-transform: capitalize;
  margin: 0 0 1rem 0;
}

.tableHeader {
  min-width: 150px;
  color: white !important;
  background: var(--table-header) !important;
  font-size: 14px;
  border: 1px solid black;
}

.tableHeaderSmall {
  min-width: 100px;
}

.tableHeaderDesc {
  min-width: 200px;
}

.tableCell {
  font-size: 14px;
  border: 1px solid black;
}

.highlightedCell {
  background-color: #eef5f7;
}

.descriptionCell {
  font-size: 12px;
  border: 1px solid black;
}

.metricValue {
  margin-bottom: 20px;
  font-size: 35px;
}

.highlightedCell {
  background-color: var(--highlihghtedCell) !important;
}

.positiveTrend {
  color: #28a745;
  font-weight: bold;
}

.negativeTrend {
  color: #dc3545;
  font-weight: bold;
}

.neutralTrend {
  color: #6c757d;
  font-weight: bold;
}