/* MetricSquareBox.module.css */
.metricValue {
  margin-bottom: 20px;
  font-size: 35px;
}

.positiveTrend {
  color: #28a745;
  font-weight: bold;
}

.negativeTrend {
  color: #dc3545;
  font-weight: bold;
}

.neutralTrend {
  color: #6c757d;
  font-weight: bold;
}