.admin_container {
  background-color: #fff;
  border-radius: 8px;
  padding: 0 16px 16px 16px;

}

.headerBar {
  background-color: var(--table-header);
}

.card {
  border-radius: 6px;
  overflow: hidden;
}

.table_container {
  width: 100%;
  overflow-x: auto;
}

.metrics_table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  margin-bottom: 0px !important;
}

.metrics_table th,
.metrics_table td {
  padding: 8px 16px;
  text-align: left;
  border: 1px solid #ddd;
}

.metrics_table th {
  font-weight: 600;
  background-color: var(--table-header);
  color: white;
}

.metrics_table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.link_button {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

.link_button:hover {
  color: var(--btnhover);
}

.active_status {
  color: green;
  font-weight: 500;
}

.inactive_status {
  color: red;
  font-weight: 500;
}

.action_link {
  color: #0d6efd;
  text-decoration: none;
}

.action_link:hover {
  text-decoration: underline;
}

.delete_link {
  color: #dc3545;
}

.sortArrow {
  display: inline-block;
  width: 1em;

  line-height: 1;
  text-align: center;
}


.sortableHeader {
  user-select: none;
  cursor: pointer;
}

.row_menu {
  display: none;
}

tr[data-menu-open="1"] .row_menu {
  display: block !important;
}



.menu_item {
  display: block;
  width: 100%;
  text-align: left;
  padding: 6px 8px;
}